<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title>String Data Rest Angular Demo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="/webjars/angular-material/angular-material.css"/>
	<link rel="stylesheet" href="/webjars/angular-material-data-table/dist/md-data-table.css"/>
	<link rel="stylesheet" href="/css/app.css"></link>
</head>
<body ng-app="springDataRestDemo" ng-controller="NavController" layout="row" ng-cloak>
<md-sidenav md-component-id="sideNav" layout="column" class="md-sidenav-left md-whiteframe-z2" ng-cloak>
	<md-toolbar class="md-tall md-hue-2" md-scroll-shrink="false">
		<md-button class="md-icon-button" aria-label="Close Sidenav" ng-click="closeSidenav()">
			<md-icon md-svg-icon="navigation:ic_close"></md-icon>
		</md-button>
		<span flex></span>
		<div layout="column" class="md-toolbar-tools-bottom inset">
			<div>Spring Data Rest Demo</div>
		</div>
	</md-toolbar>
	<md-list layout="column">
		<md-list-item class="md-1-line" md-ink-ripple role="link" ng-repeat="item in mainMenu">
			<md-button style="text-align: left" class="md-primary" flex="grow" ng-click="showMenu(item)">
				<img ng-if="item.type=='img'" class="icon-image" src="/assets/img/{{item.icon}}" />
				<md-icon ng-if="item.type=='svg'" md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
				<span class="md-body-2" flex="grow" ng-bind="item.title"></span>
			</md-button>
		</md-list-item>
	</md-list>
	<md-divider></md-divider>
	<md-subheader>Management</md-subheader>
	<md-list layout="column">
		<md-list-item class="md-1-line" md-ink-ripple role="link" ng-repeat="item in adminMenu">
			<md-button style="text-align: left" class="md-primary" flex="grow" ng-click="showMenu(item)">
				<img ng-if="item.type=='img'" class="icon-image" src="/assets/img/{{item.icon}}" />
				<md-icon ng-if="item.type=='svg'" md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
				<span class="md-body-2" flex="grow" ng-bind="item.title"></span>
			</md-button>
		</md-list-item>
	</md-list>
</md-sidenav>
<md-content layout-fill>
	<ng-view></ng-view>
</md-content>
<script type="text/javascript" src="/webjars/moment/moment.js"></script>
<script type="text/javascript" src="/webjars/angular/angular.js"></script>
<script type="text/javascript" src="/webjars/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/webjars/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/webjars/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="/webjars/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/webjars/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="/webjars/angular-material/angular-material.js"></script>
<script type="text/javascript" src="/webjars/angular-gravatar/build/angular-gravatar.js"></script>
<script type="text/javascript" src="/webjars/angular-material-data-table/dist/md-data-table.js"></script>
<script type="text/javascript" src="/js/invariant.js"></script>
<script type="text/javascript" src="/js/DataApp.js"></script>
<script type="text/javascript" src="/js/NotificationService.js"></script>
<script type="text/javascript" src="/js/UserService.js"></script>
<script type="text/javascript" src="/js/GroupService.js"></script>
<script type="text/javascript" src="/js/MemberService.js"></script>
<script type="text/javascript" src="/js/NavController.js"></script>
<script type="text/javascript" src="/js/UserController.js"></script>
<script type="text/javascript" src="/js/GroupController.js"></script>
<script type="text/javascript" src="/js/MemberController.js"></script>
<script type="text/javascript" src="/js/ThemeController.js"></script>
<script type="application/javascript">
	angular.module('springDataRestDemo').config(function ($mdDateLocaleProvider, $mdThemingProvider, $mdIconProvider, $mdColorPalette, $routeProvider) {
		// Date configuration
		$mdDateLocaleProvider.formatDate = function (date) {
			return moment(date).format('YYYY-MM-DD');
		};
		$mdDateLocaleProvider.parseDate = function (dateString) {
			var m = moment(dateString, ['YYYY-M-D', 'YYYY/M/D']);
			return m.isValid() ? m.toDate() : new Date(NaN);
		};
		// Theme configuration
		$mdThemingProvider.theme("default");

		$mdThemingProvider.theme("error")
				.primaryPalette("red")
				.accentPalette("yellow")
				.warnPalette('orange')
				.backgroundPalette('light-blue');

		var themeColours = Object.keys($mdColorPalette);
		var prevColour = themeColours[themeColours.length - 1];
		var prevPrevColour = themeColours[themeColours.length - 2];
		for (var i in themeColours) {
			var themeColour = themeColours[i];
			$mdThemingProvider.theme(themeColour)
					.primaryPalette(themeColour)
					.accentPalette(prevColour)
					.backgroundPalette(prevPrevColour);
			prevPrevColour = prevColour;
			prevColour = themeColour;

		}
		$mdThemingProvider.alwaysWatchTheme(true);

		// Icon configuration
		$mdIconProvider.defaultIconSet("/webjars/iconsets/svg/content-icons.svg", 24);
		var iconSets = ['action', 'alert', 'social', 'content', 'navigation', 'editor', 'image'];
		for (var i in iconSets) {
			var iconSet = iconSets[i];
			$mdIconProvider.iconSet(iconSet, '/webjars/iconsets/svg/' + iconSet + '-icons.svg', 24);
		}
		configureRoutes($routeProvider);
	});
</script>
</body>
</html>