<md-dialog aria-label="{{dialogTitle}}" ng-cloak flex-sm="80" flex-gt-sm="50" flex-xs="100">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 ng-bind="dialogTitle"></h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-icon="navigation:ic_close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content name="userFormDlgContent" class="md-dialog-content" layout-padding>
		<form name="userForm" ng-submit="save()">
			<div layout="row" layout-xs="column">
				<md-input-container class="md-block" flex="30" md-is-error="userForm.userId.$touched && userForm.userId.$invalid">
					<label>User Id</label>
					<input name="userId"
					       md-autofocus="newUser"
					       ng-disabled="!newUser"
					       ng-model="user.userId"
					       minlength="3"
					       md-minlength="3"
					       maxlength="32"
					       md-maxlength="32"
					       required>
					<ng-messages for="userForm.userId.$error" role="alert" multiple>
						<ng-message when="required">You must supply a user id.</ng-message>
						<ng-message when="md-minlength, minlength">The user id is too short!.</ng-message>
						<ng-message when="md-maxlength, maxlength">The user id is too long!.</ng-message>
						<ng-message when="unique">The user id is not unique.</ng-message>
					</ng-messages>
				</md-input-container>
				<md-input-container class="md-block" flex md-is-error="userForm.fullName.$touched && userForm.fullName.$invalid">
					<label>Full name</label>
					<input name="fullName" md-autofocus="!newUser" ng-model="user.fullName" required>
					<ng-messages for="userForm.fullName.$error" role="alert" multiple>
						<ng-message when="required">You must supply a fullname.</ng-message>
					</ng-messages>
				</md-input-container>
			</div>
			<div layout="row" layout-xs="column">
				<md-input-container class="md-block" flex md-is-error="userForm.emailAddress.$touched && userForm.emailAddress.$invalid">
					<label>Email</label>
					<input name="emailAddress" ng-model="user.emailAddress" type="email" required>
					<ng-messages for="userForm.emailAddress.$error" role="alert" multiple>
						<ng-message when="required">You must supply an email address.</ng-message>
						<ng-message when="email">Not a valid email address.</ng-message>
					</ng-messages>
				</md-input-container>
				<div layout="column">
					<md-datepicker name="dateOfBirth"
					               ng-model="dateOfBirth"
					               md-max-date="moment().toDate()"
					               md-placeholder="Enter date of birth"
					               required></md-datepicker>
					<ng-messages class="validation-messages" for="userForm.dateOfBirth.$error" ng-show="userForm.dateOfBirth.$touched && userForm.dateOfBirth.$invalid" role="alert" multiple>
						<ng-message when="required">You must supply a date of birth.</ng-message>
						<ng-message when="date">Not a valid date.</ng-message>
					</ng-messages>
				</div>
			</div>
		</form>
		<div class="validation-messages" ng-repeat="error in errorMessages">
			<div ng-bind="error"></div>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary" ng-disabled="userForm.$invalid || !userForm.$dirty" ng-click="save()">Save</md-button>
		<md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>