<md-content layout="column" flex class="relative" layout-fill role="main" ng-cloak>
	<md-toolbar style="z-index: 10">
		<div class="md-toolbar-tools" layout="row">
			<md-button class="md-icon-button" aria-label="Open SideNav" ng-click="openSidenav()">
				<md-icon md-svg-icon="navigation:ic_menu"></md-icon>
			</md-button>
			<h3>
				<span>Group Members</span>
			</h3>
			<md-progress-circular class="md-accent md-hue-1"
			                      flex-offset="5"
			                      ng-show="groups == null || loading"
			                      md-mode="indeterminate"
			                      md-diameter="48"></md-progress-circular>
		</div>
	</md-toolbar>
	<md-content layout="row">
		<md-list ng-show="groups != null" flex="100">
			<md-list-item ng-repeat="group in groups"
			              class="md-2-line"
			              aria-label="Select {{group.groupName}}"
			              ng-click="selectGroup(group)">
				<img class="md-avatar"
				     src="/assets/groups/{{group.groupName}}.svg"
				     width="48px"
				     height="48px"
				     aria-label="Avatar for {{group.description}}"/>
				<div class="md-list-item-text" layout="column">
					<h3 class="md-headline" ng-bind="group.groupName"></h3>
					<em class="md-subhead" ng-bind="group.description"></em>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
		<md-sidenav class="md-sidenav-right"
		            style="z-index: 50"
		            flex-xs="100"
		            flex-sm="80"
		            flex-gt-sm="50"
		            layout="column"
		            md-component-id="right"
		            ng-show="selectedGroup != null"
		            md-is-locked-open="$mdMedia('gt-xs')">
			<md-toolbar md-scroll-shrink="false">
				<div class="md-toolbar-tools" layout="row">
					<h3 class="md-toolbar-tools" ng-bind="'Members of ' + selectedGroup.description"></h3>
					<md-button hide-gt-xs class="md-icon-button" aria-label="Close Sidenav" ng-click="closeRight()">
						<md-icon md-svg-icon="navigation:ic_close"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content flex>
				<md-list flex>
					<md-list-item ng-repeat="member in selectedGroup.members" class="md-2-line">
						<img class="md-avatar"
						     style="background-color: white"
						     src="/assets/users/{{member.userId}}.png"
						     height="48px"
						     width="48px"
						     aria-label="Avatar for {{member.userId}}"/>
						<div class="md-list-item-text" ng-class="{memberDisabled: !member.enabled}">
							<h3 ng-bind="member.userId"></h3>
							<em ng-bind="member.fullName"></em>
						</div>
						<md-button class="md-icon-button" aria-label="Disable / Enable" ng-click="toggleEnabledMember($event, member)">
							<md-icon ng-show="member.enabled" md-svg-icon="social:ic_person_outline"></md-icon>
							<md-icon ng-show="!member.enabled" md-svg-icon="social:ic_person"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="Delete" ng-click="deleteMember($event, member)">
							<md-icon md-svg-icon="action:ic_delete"></md-icon>
						</md-button>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
	</md-content>
	<md-button style="z-index: 60" ng-show="selectedGroup != null" class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="addMember($event)">
		<md-icon md-svg-icon="content:ic_add"></md-icon>
	</md-button>
</md-content>