<md-content md-theme="{{selectedTheme}}" md-theme-watch="true" layout="column" flex class="relative" layout-fill role="main">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Open SideNav" ng-click="openSidenav()">
				<md-icon md-svg-icon="navigation:ic_menu"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Previous" ng-click="prevTheme()">
				<md-icon md-svg-icon="navigation:ic_chevron_left"></md-icon>
			</md-button>
			<md-select style="min-width: 16em" ng-model="selectedTheme" aria-label="Theme Selector">
				<md-option ng-repeat="theme in themes" value="{{theme.value}}">
					{{theme.name}}
				</md-option>
			</md-select>
			<md-button class="md-icon-button" aria-label="Next" ng-click="nextTheme()">
				<md-icon md-svg-icon="navigation:ic_chevron_right"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout="column">
		<section layout="row"
		         layout-align-gt-sm="start center"
		         layout-align-sm="start start"
		         layout-wrap
		         layout-padding
		         ng-repeat="hue in backgroundHues"
		         class="{{hue}}">
			<div class="label" style="min-width: 8em">Buttons <em ng-bind="hue"></em></div>
			<md-button class="small-button md-raised" aria-label="Button">Button</md-button>
			<md-button class="small-button md-raised" aria-label="Disabled" ng-disabled="true">Disabled</md-button>
			<md-button ng-repeat="button in buttonItems"
			           class="small-button md-raised {{button.class}}"
			           aria-label="{{button.name}}"
			           ng-bind="button.name"></md-button>
		</section>
		<section layout="row"
		         layout-align-gt-xs="start center"
		         layout-align-xs="start start"
		         layout-wrap
		         ng-repeat="hue in backgroundHues"
		         class="{{hue}} md-content">
			<div class="label" style="min-width: 10em">FAB Buttons <em ng-bind="hue"></em></div>
			<md-button class="md-mini md-fab" aria-label="FAB Button">
				<md-tooltip md-direction="right">FAB Button</md-tooltip>
				<md-icon md-svg-icon="social:ic_public"></md-icon>
			</md-button>
			<md-button class="md-mini md-fab" ng-disabled="true" aria-label="Disabled">
				<md-icon md-svg-icon="social:ic_public"></md-icon>
			</md-button>
			<md-button ng-repeat="button in buttonItems" class="md-mini md-fab {{button.class}}" aria-label="{{button.name}}">
				<md-tooltip md-direction="right">FAB {{button.name}}</md-tooltip>
				<md-icon md-svg-icon="social:ic_public"></md-icon>
			</md-button>
		</section>
	</md-content>
</md-content>