<md-content layout="column" flex class="relative" layout-fill role="main">
	<md-toolbar md-scroll-shrink="false">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Open SideNav" ng-click="openSidenav()">
				<md-icon md-svg-icon="navigation:ic_menu"></md-icon>
			</md-button>
			<h3>
				<span>Users</span>
			</h3>
			<md-progress-circular class="md-accent md-hue-1"
			                      flex-offset="5"
			                      ng-show="users == undefined || users == null"
			                      md-mode="indeterminate"
			                      md-diameter="48"></md-progress-circular>
			<span flex></span>
			<md-button class="md-icon-button"
			           ng-disabled="selected == undefined || selected == null || selected.length != 1"
			           ng-click="editUser($event)"
			           aria-label="Edit">
				<md-icon md-svg-icon="editor:ic_mode_edit"></md-icon>
			</md-button>
			<md-button class="md-icon-button"
			           aria-label="Delete"
			           ng-click="deleteUsers($event)"
			           ng-disabled="selected == undefined || selected == null || selected.length == 0">
				<md-icon md-svg-icon="action:ic_delete"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout="row" layout-wrap>
		<md-card ng-repeat="user in users">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline" ng-bind="user.userId"></span>
					<span class="md-subhead" ng-bind="user.fullName"></span>
				</md-card-title-text>
				<md-card-title-media>
					<md-button style="background-color: white" layout="column" class="card-media" layout-align="center center" ng-click="selectUser(user)">
						<img class="md-avatar" src="/assets/users/{{user.userId}}.png" aria-label="Avatar for {{user.userId}}"/>
					</md-button>
				</md-card-title-media>
			</md-card-title>
			<md-card-content>
				<div layout="column" flex>
					<span ng-bind="user.emailAddress"></span>
					<span ng-bind="user.dateOfBirth"></span>
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end bottom" layout-padding>
				<md-checkbox class="md-secondary small-button"
				             ng-model="user.selected"
				             aria-label="Select User"
				             ng-change="checkSelected(user)"></md-checkbox>
				<md-button class="md-icon-button small-button" ng-click="editUser($event, user)" aria-label="Edit">
					<md-icon md-svg-icon="editor:ic_mode_edit"></md-icon>
				</md-button>
				<md-button class="md-icon-button small-button" aria-label="Delete" ng-click="deleteUser($event, user)">
					<md-icon md-svg-icon="action:ic_delete"></md-icon>
				</md-button>
			</md-card-actions>
		</md-card>
	</md-content>
	<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="addUser($event)">
		<md-icon md-svg-icon="content:ic_add"></md-icon>
	</md-button>
</md-content>